<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('FAQs')}</title></%block>


<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
  <p>&nbsp;</p>

<br>
  <h1 id="tos" style="text-align: left;">Are all courses in Big Data University free?</h1>
<p>Yes, currently, all courses in Big Data University are free.</p>
<br>
<h1 id="tos" style="text-align: left;">Who can take a course in Big Data University? How do I sign up?</h1>
	<p>Anyone can take a course in Big Data University. All you need is access to
	a computer with a current browser, and an Internet connection. To sign up,
	create a Big Data University account and then select the course you want to take. 
	Choose “Register Now” to get started.</p> 
<br>
<h1 id="tos" style="text-align: left;">Which browsers and versions does Big Data University support?</h1>
	<p>Since Big Data University runs Open edX course management system, 
	the browsers we support are the same as for Open edX, that is, current versions of: Chrome, 
	Firefox or Safari. Internet Explorer version 9 and above is also supported.</p>
<br>
<h1 id="tos" style="text-align: left;">I signed up in Big Data University, but I have not received my confirmation email. What should I do?</h1>
	<p>Check your junk/spam folder first. If it’s there, ensure you mark it as “not spam” 
	so you can get emails from us in the future. After you access the email, click on the 
	link it provides to confirm your registration with us. If you do not receive any email at all,
	please send us a note to admin@bigdatauniversity.com, and we will manually confirm your account for you.</p>
<br>
<h1 id="tos" style="text-align: left;">I passed a course in Big Data University, but am not allowed to print my certificate of achievement. What should I do?</h1>
	<p>Big Data University (Portuguese version) is running in BETA at this moment,
	 and the certificate of achievements are currently not being generated automatically by the system. 
	 However, the system does track who has passed courses. Once this functionality is fully implemented and tested, 
	 the certificates will be able to be printed.  We will send an email or put a notice in our landing page when this 
	 functionality is ready.</p>
<br>
<h1 id="tos" style="text-align: left;">I am registered in BigDataUniversity.com.  Because Portuguese is my mother tongue I prefer to use BigDataUniversity.com/br.  
Should I register again? </h1>
	<p>Yes. Currently, BigDataUniversity.com and BigDataUniversity.com/br are using different course management systems.
 	The one in Portuguese is the one we will be using in the long term, and all user and registration information will be 
 	migrated in the next few months. For now. you’d need to register to both systems.</p>
<br>  
  <p>&nbsp;</p>
</section>
