<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('News')}</title></%block>


<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
  <p>&nbsp;</p>

<br>
  <h1 id="tos" style="text-align: left;">Bem vindo a Big Data University! (bigdatauniversity.com/br)!</h1>
  <p>Após quatro meses de trabalho duro, temos o prazer de ter lançado Big Data University (Beta) em Português 
  (bigdatauniversity.com/br). Este site contém um subconjunto dos cursos do BigDataUniversity.com, nosso site
  principal. Como pode ver, nosso site principal e este site estão usando sistemas de gerenciamento de cursos 
  diferentes. Num futuro próximo, iremos fundi-los. Por gentileza, nos forneça feedback para que melhoremos
  este site!</p>
<br>
<h1 id="tos" style="text-align: left;">Big Data University – Estágio de Verão – Evento final</h1>
  <p>JJunte-se a nós para o evento final do estágio de versão, apresentando projetos usando A Internet 
  das Coisas (internet of things – IoT), tecnologias vestíveis, big data e mais! . Transmissão ao vivo 
  estará disponível (URL será disponibilizada mais tarde)</p>
  
<strong>  
  <br>
  <p>Sexta-feira, 29 de Agosto (2pm – 5pm)</p>
  <br>
  <p>University of Toronto - Bahen Centre Room 1190</p>
  <br>
  <p>40 St. George St.</p>
  <br>
  <p>Toronto, ON, Canada</p>
  <br>
  <p>Registration link:  bit.ly/bigdatauniversity</p>
  <br>
</strong>
<img src="${static.url('themes/stanford/images/bdu-internship-poster-v7.png')}"  alt="Poster_intership" />


<br>  
  <p>&nbsp;</p>
</section>
