<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="title"><title>${_('News')}</title></%block>

<section class="static-container tos" style="padding: 0 25px; box-sizing: border-box;">
  <p>&nbsp;</p>

<h1 id="tos" style="text-align: left;">Welcome to Big Data University (bigdatauniversity.com/br)!<h1>
  <p>After four months of hard work, we are pleased to have launched 
  Big Data University (Beta) in Portuguese (bigdatauniversity.com/br).
  This site contains a subset of the courses of BigDataUniversity.com, our parent site. 
  As you can tell, our parent site, and this site are running different course management systems. 
  In the near future, we will be merging them.  Please provide any feedback to us so we improve this site!
 
<h1 id="tos" style="text-align: left;">Big Data University Summer Internship – Final event<h1>
  <p>Join us for the final summer internship event showcasing projects using internet of things
  (IoT), wearable technolgies, big data and more! . 
  Live streaming will be available (URL to be provided later)</p>
  <br>
  Friday August 29th  (2pm – 5pm)
  <br>
  University of Toronto - Bahen Centre Room 1190
  <br>
  40 St. George St.
  <br>
  Toronto, ON, Canada
  <br>
  Registration link:  bit.ly/bigdatauniversity
  <br>
< Add poster image here – File attached>

<p>&nbsp;</p>
</section>
