## mako
<%! 
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from edxmako.shortcuts import marketing_link
%>



<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://bigdatauniversity.com">
          <img src="http://imagizer.imageshack.us/v2/150x100q90/538/CrBEt0.png" alt="Big Data University" height="20%" weight = "20%"/>
        </a>
      </div>
      <center><h1>
      <div id="su-footer-text" class="span10">
        <ul>
          <li class="home"><a href="http://bigdatauniversity.com/">Home</a></li>
          <li class="maps alt"><a href="http://bigdatauniversity.com/contact/">Contact</a></li>
          <li class="search-stanford"><a href="http://bigdatauniversity.com/about-us/">About Us</a></li>
          <li class="terms alt"><a href="http://bigdatauniversity.com/legal/">Legal</a></li>
          <li class="copyright"><a href="https://bitbucket.org/DB2UAdmin/bdu_hg/issues/new">Bug Reports</a></li>
        </ul>
<br>

      </h1>
        <p style="color:#FFFFFF">&copy; Big Data University</span></p>
      </div>

      </center>
              <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" height="40" alt="${_('Powered by {platform_name}').format(platform_name='Open edX')}"/>

      <div style="clear: both;"></div>
    </div>
  </div>
</div>
